    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-10">
              <br/><br/>
              <h2>About Eunice</h2>
              <br/>
                <p>Chia-Yen (Eunice) Tsai graduated from Fu Jen Catholic Universiry(FJU) and National Taiwan University of Art(NTUA) , double major in Bussiness Administration(Finance major) and Music(piano major and composition minor).
After graduated, she learns computer science by herself, including programming(C/C++, python, javascript...etc.) and Blockchain smart contract(solidity)...</p>
                <br/>
              </div>
        </div>
    </section>
