<section id="services1">
<!-- Page Content -->
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Cryptovillage</h2>
                    <div class="lead">Smart contract research...</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/services/bitvillage.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
</section>


<section id="services2">
<!-- Page Content -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Technology</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/coding.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

</section>


<section id="services3">
<!-- Page Content -->
    
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">MiuMusic</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/services/piano.png" alt="">
                </div>
                <a href="https://www.youtube.com/channel/UCO-n8NtK1M4MF28s9932tnw?view_as=subscriber">YouTube</a></br>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
 
</section>

<section id="services4">
<!-- Page Content -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Eunice YouYube Channel</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/likelove.png" alt="">
                </div>
                <a href="https://www.youtube.com/channel/UCKlWWFX5sCRvGy49sLx2q0Q?view_as=subscriber">YouTube</a></br>
                <a href="http://i.youku.com/babybeareunice?spm=a2hzp.8244740.0.0">YouKu</a></br>
                <a href="https://www.youtube.com/watch?v=CvgAHbwZ0HA">Google Assistant</a></br>
                
                <table width="600" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><embed src="http://www.hellomodel.com/model_slide_external.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="600" height="320" flashvars="model_id=6080"></embed></td>
                  </tr>
                  <tr>
                    <td align="center"><br><font size="2">Please visit:<a href="http://www.hellomodel.com/ext_link.php?model_xml=BabybearEunice&model_id=6080">http://www.hellomodel.com/BabybearEunice</a></font></td>
                  </tr>
                </table>
                
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

</section>


<section id="services5">
<!-- Page Content -->
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Publication</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/services/publication.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
</section>


<section id="services6">
<!-- Page Content -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Shop</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/shop.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

</section>
